@media screen and (min-width: 600px) {

    #menu {
        display: none;
    }

    .navigation {
        background-color: var(--accent1-color);
        display: flex;
        flex-direction: row;
        list-style: none;

    }

    .navigation li {
        flex: 1 1 auto;
    }

    .navigation a {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* your existing layout */
    main {
        grid-template-columns: 1fr 1fr;
    }

    header,
    main,
    footer {
        max-width: 900px;
    }

    h1 {
        grid-column: 1 / 3;
    }

    img {
        max-width: 280px;
    }
}

@media screen and (min-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    header,
    main,
    footer {
        max-width: 1000px;
    }

    h1 {
        grid-column: 1 / 4;
    }

    img {
        max-width: 280px;
    }
}